body {
  margin: 0; }

.header {
  position: relative;
  font-family: Arial, sans-serif;
  padding-bottom: 16px; }

.container, .primaryNav__container .subMenu__inner {
  max-width: 1300px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box; }

.primaryNav__container {
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 0 13% 0 19.8%; }
  @media screen and (max-width: 910px) {
    .primaryNav__container {
      padding: 0 2% 0 19.8%; } }
  @media screen and (max-width: 767px) {
    .primaryNav__container {
      padding: 0; }
      .primaryNav__container > ul > li:last-of-type {
        border-bottom: 1px solid #ccc;
        padding: 12px 0 12px 0; } }
  .primaryNav__container .primaryNav__list {
    display: table;
    width: 100%;
    list-style: none; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__list {
        display: block; } }
  .primaryNav__container .primaryNav__item {
    display: table-cell;
    vertical-align: baseline;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__item {
        display: block;
        text-align: left;
        margin-bottom: 10px; } }
    @media screen and (max-width: 1200px) {
      .primaryNav__container .primaryNav__item {
        font-size: 14px;
        line-height: 17px; } }
    @media screen and (max-width: 1000px) {
      .primaryNav__container .primaryNav__item {
        font-size: 13px;
        line-height: 16px; } }
    @media screen and (max-width: 910px) {
      .primaryNav__container .primaryNav__item {
        text-align: left;
        width: 33%;
        display: inline-block; } }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__item {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        padding: 12px 0 0 0;
        border-top: 1px solid #ccc; } }
    .primaryNav__container .primaryNav__item.subMenu__active .subMenu__container {
      display: block; }
    .primaryNav__container .primaryNav__item.subMenu__active .primaryNav__item-link {
      color: #ebbe2d;
      text-decoration: underline; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .primaryNav__item.subMenu__active .primaryNav__item-link {
          text-decoration: none;
          border-bottom: 1px solid #ebbe2d;
          padding-bottom: 5px;
          margin-bottom: 8px; }
          .primaryNav__container .primaryNav__item.subMenu__active .primaryNav__item-link .fa-angle-down {
            display: none; }
          .primaryNav__container .primaryNav__item.subMenu__active .primaryNav__item-link .fa-angle-up {
            display: inline; } }
  .primaryNav__container .primaryNav__item-link {
    color: #026795;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__item-link {
        display: block; } }
    .primaryNav__container .primaryNav__item-link:hover {
      color: #ebbe2d;
      text-decoration: underline; }
    .primaryNav__container .primaryNav__item-link .fa-angle-up,
    .primaryNav__container .primaryNav__item-link .fa-angle-down {
      float: right;
      padding-right: 2px;
      font-size: 25px;
      display: none; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__item-link .fa-angle-down {
        display: inline; } }
  .primaryNav__container .subMenu__container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    text-align: left; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__container {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        background-color: transparent; } }
    .primaryNav__container .subMenu__container.sectionAligned--center {
      text-align: left; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .subMenu__container.sectionAligned--center {
          text-align: left; } }
    .primaryNav__container .subMenu__container.sectionAligned--left {
      text-align: left; }
      .primaryNav__container .subMenu__container.sectionAligned--left .subMenu__image {
        margin-left: 0; }
  .primaryNav__container .subMenu__inner {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__inner {
        padding: 0 0 0 10px; } }
  .primaryNav__container .subMenu__close {
    color: #848484;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 14px;
    line-height: 1;
    text-decoration: none; }
    .primaryNav__container .subMenu__close:hover {
      color: #ebbe2d; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__close {
        display: none; } }
  .primaryNav__container .primaryNav__submenu-title {
    text-transform: uppercase;
    color: #00a1de;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 20px;
    font-weight: 600;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__submenu-title {
        margin-bottom: 0; } }
    .primaryNav__container .primaryNav__submenu-title a {
      color: #00a1de;
      text-decoration: none; }
  .primaryNav__container .primaryNav__submenu-title--secondary {
    color: #00a1de;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px;
    font-weight: 700;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__submenu-title--secondary {
        margin-bottom: 0; } }
    .primaryNav__container .primaryNav__submenu-title--secondary a {
      color: #00a1de;
      text-decoration: none; }
  .primaryNav__container .primaryNav__submenu-title--alternate {
    color: #026795;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 20px;
    font-weight: 700; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__submenu-title--alternate {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 18px; } }
  .primaryNav__container .primaryNav__submenu-description {
    color: #848484;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 20px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__submenu-description {
        display: none; } }
  .primaryNav__container .subMenu__image {
    display: block;
    width: 100%;
    max-width: 139px;
    height: auto;
    margin: 0 auto 20px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__image {
        display: none; } }
    .primaryNav__container .subMenu__image + .primaryNav__submenu-title,
    .primaryNav__container .subMenu__image + .primaryNav__submenu-title--secondary {
      text-align: center; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .subMenu__image + .primaryNav__submenu-title,
        .primaryNav__container .subMenu__image + .primaryNav__submenu-title--secondary {
          text-align: left; } }
  .primaryNav__container .subMenu__column-container {
    display: flex;
    margin: 0 -20px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__column-container {
        display: block;
        margin: 0; } }
    .primaryNav__container .subMenu__column-container.subMenu__column-alternate .subMenu__column:first-child {
      padding-right: 60px; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .subMenu__column-container.subMenu__column-alternate .subMenu__column:first-child {
          padding-right: 0; } }
    .primaryNav__container .subMenu__column-container.subMenu__column-alternate .subMenu__column:last-child {
      padding-left: 60px; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .subMenu__column-container.subMenu__column-alternate .subMenu__column:last-child {
          padding-left: 0; } }
  .primaryNav__container .subMenu__column {
    padding: 10px 20px;
    border-left: 1px solid #eaeae9; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__column {
        border-left: 0;
        padding: 0;
        margin-bottom: 10px; } }
    .primaryNav__container .subMenu__column:first-child {
      border-left: 0; }
  .primaryNav__container .subMenu__alternate-container {
    display: table;
    width: 100%;
    text-align: left;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__alternate-container {
        margin-bottom: 10px; } }
  .primaryNav__container .subMenu__alternate-imageContainer,
  .primaryNav__container .subMenu__alternate-contentContainer {
    display: table-cell;
    vertical-align: middle; }
  .primaryNav__container .subMenu__alternate-imageContainer {
    width: 139px;
    padding-right: 20px; }
    @media (max-width: 900px) {
      .primaryNav__container .subMenu__alternate-imageContainer {
        width: 100px; } }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__alternate-imageContainer {
        display: none; } }
  .primaryNav__container .alternateMenu__outer {
    font-size: 0; }
    .primaryNav__container .alternateMenu__outer.sectionAligned--center {
      text-align: left; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .alternateMenu__outer.sectionAligned--center {
          text-align: left; } }
    .primaryNav__container .alternateMenu__outer.sectionAligned--left {
      text-align: left; }
  .primaryNav__container .alternateMenu__inner {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box; }
    @media (max-width: 900px) {
      .primaryNav__container .alternateMenu__inner {
        display: block;
        width: auto;
        padding-right: 0;
        margin-bottom: 5px;
        padding-left: 10px; } }
  .primaryNav__container .alternateMenu__hasLInks .alternateMenu__open-link {
    position: relative;
    padding-right: 10px; }
    .primaryNav__container .alternateMenu__hasLInks .alternateMenu__open-link:after {
      content: '+';
      position: absolute;
      right: -7px; }
  .primaryNav__container .alternateMenu__hasLInks .alternateMenu__container {
    display: none; }
  .primaryNav__container .alternateMenu__hasLInks.alternateMenu__active .alternateMenu__open-link:after {
    right: -11px;
    content: "\2014";
    top: -3px; }
  .primaryNav__container .alternateMenu__hasLInks.alternateMenu__active .alternateMenu__container {
    display: block; }
  .primaryNav__container .alternateMenu__open-link {
    text-decoration: none; }
  .primaryNav__container .alternateMenu__link {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    color: #4c4c4c;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .alternateMenu__link {
        padding-left: 10px; } }
    .primaryNav__container .alternateMenu__link:hover {
      color: #ebbe2d; }

.Header-navAction {
  background-color: #00a1de; }

.donateNav {
  padding: 23px 0 21px 0;
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: #00a1de; }
  @media screen and (max-width: 1068px) {
    .donateNav {
      padding: 15px 0 17px 0; } }
  .donateNav .donateNav__donateHeart {
    width: 29px;
    display: block;
    margin: 0 auto 15px auto; }
    @media screen and (max-width: 767px) {
      .donateNav .donateNav__donateHeart {
        display: inline-block;
        vertical-align: top;
        margin: 0 6px 0px 0; } }
  .donateNav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; }
    .donateNav a:hover {
      color: #fff; }

@media screen and (min-width: 66.75em) {
  .Header-nav .Nav-primary-wrap {
    bottom: 0; } }
.Header-navAction {
  padding-bottom: 16px; }

.ActionNav-wrap {
  position: relative; }

nav > .primaryNav__list li:first-of-type {
  text-align: left; }

@media screen and (min-width: 48em) {
  .Header-navAction {
    width: 13% !important; } }
@media screen and (max-width: 910px) {
  .Header-nav .Nav-primary-wrap {
    bottom: -10px; }

  .primaryNav__container .subMenu__container {
    margin-top: -10px; } }
@media screen and (max-width: 767px) {
  .primaryNav__container .subMenu__container {
    margin-top: 0; } }
.Nav-toggle[aria-expanded=true] .fa-times {
  display: inline; }
.Nav-toggle[aria-expanded=true] .fa-bars {
  display: none; }
.Nav-toggle[aria-expanded=false] .fa-times {
  display: none; }
.Nav-toggle[aria-expanded=false] .fa-bars {
  display: inline; }

/*# sourceMappingURL=style.css.map */
