body {
  margin: 0; }

.header {
  position: relative;
  background-color: #ffffff;
  padding-top: 20px;
  font-family: Arial, sans-serif; }

.container, .primaryNav__container .primaryNav__list, .primaryNav__container .subMenu__inner {
  max-width: 1060px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  box-sizing: border-box; }

.primaryNav__container {
  color: #000;
  font-family: "Open Sans", sans-serif; }
  .primaryNav__container .primaryNav__list {
    display: table;
    width: 100%;
    list-style: none; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__list {
        display: block; } }
  .primaryNav__container .primaryNav__item {
    display: table-cell;
    vertical-align: baseline;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__item {
        display: block;
        text-align: left;
        margin-bottom: 10px; } }
    .primaryNav__container .primaryNav__item.subMenu__active .subMenu__container {
      display: block; }
    .primaryNav__container .primaryNav__item.subMenu__active .primaryNav__item-link {
      color: #ebbe2d;
      text-decoration: underline; }
  .primaryNav__container .primaryNav__item-link {
    color: #026795;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase; }
    .primaryNav__container .primaryNav__item-link:hover {
      color: #ebbe2d;
      text-decoration: underline; }
  .primaryNav__container .subMenu__container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #f8f8f8; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__container {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        background-color: transparent; } }
    .primaryNav__container .subMenu__container.sectionAligned--center {
      text-align: center; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .subMenu__container.sectionAligned--center {
          text-align: left; } }
    .primaryNav__container .subMenu__container.sectionAligned--left {
      text-align: left; }
      .primaryNav__container .subMenu__container.sectionAligned--left .subMenu__image {
        margin-left: 0; }
  .primaryNav__container .subMenu__inner {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__inner {
        padding: 0 0 0 10px; } }
  .primaryNav__container .subMenu__close {
    color: #848484;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 14px;
    line-height: 1;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__close {
        display: none; } }
  .primaryNav__container .primaryNav__submenu-title {
    text-transform: uppercase;
    color: #00a1de;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 20px;
    font-weight: 600;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__submenu-title {
        margin-bottom: 0; } }
    .primaryNav__container .primaryNav__submenu-title a {
      color: #00a1de;
      text-decoration: none; }
  .primaryNav__container .primaryNav__submenu-title--secondary {
    color: #00a1de;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px;
    font-weight: 700;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__submenu-title--secondary {
        margin-bottom: 0; } }
    .primaryNav__container .primaryNav__submenu-title--secondary a {
      color: #00a1de;
      text-decoration: none; }
  .primaryNav__container .primaryNav__submenu-title--alternate {
    color: #026795;
    font-size: 24px;
    line-height: 1.5;
    margin: 0 0 20px;
    font-weight: 700; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__submenu-title--alternate {
        display: none; } }
  .primaryNav__container .primaryNav__submenu-description {
    color: #848484;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 20px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .primaryNav__submenu-description {
        display: none; } }
  .primaryNav__container .subMenu__image {
    display: block;
    width: 100%;
    max-width: 139px;
    height: auto;
    margin: 0 auto 20px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__image {
        display: none; } }
  .primaryNav__container .subMenu__column-container {
    display: flex;
    margin: 0 -20px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__column-container {
        display: block;
        margin: 0; } }
    .primaryNav__container .subMenu__column-container.subMenu__column-alternate .subMenu__column:first-child {
      padding-right: 60px; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .subMenu__column-container.subMenu__column-alternate .subMenu__column:first-child {
          padding-right: 0; } }
    .primaryNav__container .subMenu__column-container.subMenu__column-alternate .subMenu__column:last-child {
      padding-left: 60px; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .subMenu__column-container.subMenu__column-alternate .subMenu__column:last-child {
          padding-left: 0; } }
  .primaryNav__container .subMenu__column {
    padding: 10px 20px;
    border-left: 1px solid #eaeae9; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__column {
        border-left: 0;
        padding: 0;
        margin-bottom: 10px; } }
    .primaryNav__container .subMenu__column:first-child {
      border-left: 0; }
  .primaryNav__container .subMenu__alternate-container {
    display: table;
    width: 100%;
    text-align: left;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__alternate-container {
        margin-bottom: 10px; } }
  .primaryNav__container .subMenu__alternate-imageContainer,
  .primaryNav__container .subMenu__alternate-contentContainer {
    display: table-cell;
    vertical-align: middle; }
  .primaryNav__container .subMenu__alternate-imageContainer {
    width: 139px;
    padding-right: 20px; }
    @media (max-width: 900px) {
      .primaryNav__container .subMenu__alternate-imageContainer {
        width: 100px; } }
    @media screen and (max-width: 767px) {
      .primaryNav__container .subMenu__alternate-imageContainer {
        display: none; } }
  .primaryNav__container .alternateMenu__outer {
    font-size: 0; }
    .primaryNav__container .alternateMenu__outer.sectionAligned--center {
      text-align: center; }
      @media screen and (max-width: 767px) {
        .primaryNav__container .alternateMenu__outer.sectionAligned--center {
          text-align: left; } }
    .primaryNav__container .alternateMenu__outer.sectionAligned--left {
      text-align: left; }
  .primaryNav__container .alternateMenu__inner {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 30px;
    padding-right: 10px;
    box-sizing: border-box; }
    @media screen and (max-width: 767px) {
      .primaryNav__container .alternateMenu__inner {
        display: block;
        width: auto;
        padding-right: 0;
        margin-bottom: 10px;
        padding-left: 10px; } }
  .primaryNav__container .alternateMenu__hasLInks .alternateMenu__open-link {
    position: relative;
    padding-right: 10px; }
    .primaryNav__container .alternateMenu__hasLInks .alternateMenu__open-link:after {
      content: '+';
      position: absolute;
      right: 0; }
  .primaryNav__container .alternateMenu__hasLInks .alternateMenu__container {
    display: none; }
  .primaryNav__container .alternateMenu__hasLInks.alternateMenu__active .alternateMenu__open-link:after {
    content: '-'; }
  .primaryNav__container .alternateMenu__hasLInks.alternateMenu__active .alternateMenu__container {
    display: block; }
  .primaryNav__container .alternateMenu__open-link {
    text-decoration: none; }
  .primaryNav__container .alternateMenu__link {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    color: #4c4c4c;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5; }
    .primaryNav__container .alternateMenu__link:hover {
      color: #ebbe2d; }

/*# sourceMappingURL=style.css.map */
